
body{
    padding:0;
    margin:0;
    font-size: 18px;
    color:black;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/small_steps.png");

}

header{
    background:white;
    color:black;
    font-size:80px;
    width:100%;
    border-bottom: black;
    border-style: solid;
}

.headerclass-fluid{
    background:forestgreen;
    color:white;
}
a{
    font-size: 18px;}

h1{
    border-bottom:gray;
    font-size: 30px;
    color:forestgreen;
    width:200px;
}

h2{
    font-size: 14px;
    
}

.img{
    width: 230px;
    padding:10px;

    border: 5px solid gray;
    margin: 20px;
    float: left 
}




#border{
height:3px;
width: 100%;
background:forestgreen;
}

.portpic{
float:left;
padding:5px;
}

footer{
    width: 100%;
    height: 40px;
    background:forestgreen;
    position:fixed;
    bottom:0;
    text-align:center;
    padding-top:10px;
}
#txt1{
    z-index: 999;
    bottom:40px;
    background:forestgreen;
    color:white;
}

#txt2{
    z-index: 999;
    bottom:40px;
    background:forestgreen;
    color:white;
}

#txt3{
    z-index: 999;
    bottom:40px;
    background:forestgreen;
    color:white;
}

#txt4{
    z-index: 999;
    bottom:40px;
    background:forestgreen;
    color:white;
}

#txt5{
    z-index: 999;
    bottom:40px;
    background:forestgreen;
    color:white;
}
.nav-item{
        position: static;
    
}